{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block content %}
  <h1>{% if token_fail %}Что-то с токеном{% else %}Сменить пароль{% endif %}</h1>


  {% if token_fail %}
    <p>Недопустимая ссылка на сброс пароля. Возможно, он уже использовался? Попробуй <a href="{% url 'account_reset_password' %}">снова</a>.</p>
  {% else %}
    {% if form %}
      <form method="POST" action=".">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary" type="submit">Сменить пароль</button>
      </form>
    {% else %}
        <p>Пароль изменен</p>
    {% endif %}
  {% endif %}
{% endblock content%}
