{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block title %}Sign up{% endblock %}

{% block content %}

  <div class="container col-4 text-center mt-5">
    <form class="form-signin p-3 rounded glassy" method="post">

      <img alt="" src="{% static "/img/about/about_logo.png" %}" width="75" height="75" class="img-fluid">

      <h1 class="h3 my-2 font-weight-normal">Присоединяйся в стаю!</h1>

      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
{#      <hr color="white">#}
{#      <a href="{% provider_login_url "vk" %}" class="text-white">Войти через ВК</a>#}
{#      <hr color="white">#}

      <p class="lead my-3 text-white-50">Да пребудет с тобой сила!</p>
    </form>

  </div>

{% endblock content %}