{% extends 'base.html' %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}Войти{% endblock %}

{% block css %}


    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/allauth/base.css" %}"/>


{% endblock %}

{% block content %}


    <div class="container col-4 text-center">

        <img alt="" src="{% static "/img/about/about_logo.png" %}" width="75" height="75" class="img-fluid">
        <h1 class="h3 my-2 font-weight-normal">Добро пожаловать!</h1>


        <form id="signup" method="POST" action="{% url 'account_signup' %}">

            {% csrf_token %}

            <input type="email" name="email" placeholder="E-mail адрес" class="textinput textInput form-control mb-2"
                   required="" id="id_email">

            <input type="text" name="username" placeholder="Имя пользователя" autofocus="autofocus" minlength="1"
                   maxlength="25" class="textinput textInput form-control mb-2" required="" id="id_username">

            <input type="password" name="password1" placeholder="Пароль" class="textinput textInput form-control mb-2"
                   required="" id="id_password1">

            {{ form.captcha }}

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <button class="btn btn-success mt-3" type="submit">Зарегистрироваться</button>

        </form>

        <a href="{% url 'account_reset_password' %}" class="text-light">Забыл пароль?</a>
        <hr color="white">
        <a href="{% provider_login_url "vk" %}" class="text-white">Войти через ВК</a>
        <hr color="white">
        <p class="lead my-3 text-white-50">Да пребудет с тобой сила!</p>
    </div>

    <div class="social-links">

        <p>Дополнительные ресурсы:</p>
        <a href="https://vk.com/murrengan"><img alt="" src="{% static "/img/about/vk_about.png" %}"
                                                class="img-fluid"></a>
        <a href="https://www.youtube.com/murrengan"><img alt=""
                                                         src="{% static "/img/about/youtube_about.png" %}"
                                                         class="img-fluid"></a>
        <a href="https://t.me/MurrenganChat"><img alt="" src="{% static "/img/about/telegram_about.png" %}"
                                                  class="img-fluid"></a>

    </div>

{% endblock content %}
