.idea/
__pycache__/
db.sqlite3
*/migrations/*
media/*
!default_murren_img.jpg
.cache
.pytest_cache/
murr_venv


# Django stuff:
*.log
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
