.m-comments-header {
  &__header {
    margin: 20px 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__counters {
    font-weight: bold;
    font-size: 26px;
    color: $white;

    > span {
      font-weight: normal;
      font-size: 26px;
      color: $white60;
    }
  }

  &__sorted {
    margin-left: auto;

    &-button {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 15px;
      color: $white60;

      &:hover,
      &:focus {
        color: $white60;
        background-color: rgba($white, 0.1);
      }
    }

    &-items {
      margin: 0;
      padding: 0;
      background-color: $dark-accent-primary;
      border-color: $main;
      border-radius: 3px;

      > .popper__arrow {
        display: none;
      }
    }

    &-item + &-item {
      border-top: 1px solid $main;
    }

    &-items > &-item {
      text-align: center;
      color: $white;

      &.is-active,
      &:hover {
        background-color: $dark-accent-primary;
        color: $white60;
      }
    }
  }
}
