<div class="js-murr-inner-detail">
    {#  Hidden data for Ajax  #}
    <meta name="murr_slug" content="{{ murr.slug }}">
    <meta name="csrf_token" content="{{ csrf_token }}">
    {# ./ Hidden data for Ajax  #}

    {% include "MurrCard/includes/_murr-detail_drawer_content.html" %}

    {% if user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" id="add-comment-form" action="{% url 'comment_add' %}" novalidate>
                {% csrf_token %}
                {{ comment_form }}
                <div class="comment-form__controls">
                    <input class="comment-form__btn button button_color_blue js-comment-add"
                           type="submit" value="Добавить комментарий" />
                </div>
            </form>
        </div>
    {% endif %}

    <div class="comment-list js-comments">{% include "MurrCard/includes/_murr-detail_drawer_comments.html" %}</div>
</div>