#showcase {
  background: url("../img/husky.png") top center/cover no-repeat;
  min-height: 450px;
  max-height: 450px;
  position: relative; }
  #showcase #header {
    z-index: 2; }
  #showcase #overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }

#About{
    padding-top: 50px;
    padding-bottom: 50px;
}

#Master{
    background: url("../img/pink_girl.png") right top/cover no-repeat;
  min-height: 450px;
  max-height: 450px;
}

#Murren{
    background: url("../img/elf_girl.jpg") left top/cover no-repeat;
  min-height: 450px;
  max-height: 450px;
}