/* BASE */

a:hover {
  text-decoration: none;
}

.button {
    cursor: pointer;
    display: inline-block;
    margin: 0.3em;
    padding: 1.2em 2em;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 0.7rem;
    text-align: center;
}

.button:hover {
    box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.5);
}

.button_color_green {
    background-color: #4CAF50;
    color: white;
}

.button_float-position_right {
    float: right;
}
.button_color_red {
    background-color: #F44336;
    color: white;
}

.button_color_blue {
    background-color: #03A9F4;
    color: white;
}
.input-label_text {
    font-style: italic;
    font-stretch: semi-condensed;
    font-weight: bold;
    text-transform: capitalize;
}

input[type="image"] {
    -o-object-fit: cover;
    -o-object-position: center center;
    object-fit: cover;
    object-position: center center;
}

.action {
    cursor: pointer;
    color: black;
}

.action:hover {
    color: black;
}

/* MIXINS */

.clickable {
    cursor: pointer;
}

.font-black {
    color: black;
}

.text-muted {
    color: #6c757d;
}

.text-follow {
    color: #00b8ff;
    margin-left: 3px;
    font-size: smaller;
    cursor: pointer;
}

.text-unfollow{
    color: #efefef;
    margin-left: 3px;
    font-size: smaller;
    cursor: pointer;
}

/* STATES */

.is-hidden {
    display: none;
}


/* CHAOS */

.hide { /* deprecated rule */
    display: none;
}

.col-form-label {
    display: none;
}

.no-underline:hover {
    text-decoration: none;
}

.all {
    color: white;
}

body {
    background: radial-gradient(circle farthest-corner at 85.4% 50.8%, rgba(14, 72, 222, 1) 0%, rgba(3, 22, 65, 1) 74.2%) no-repeat fixed;
    color: whitesmoke;
    font-family: 'PT Sans', sans-serif;
    background-size: cover;
}

.animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from { opacity: 0 }
    to { opacity: 1 }
}

.btn {
    background-image: linear-gradient(to bottom,
    rgba(255,255,255,0.5),
    rgba(255,255,255,0.2) 49%,
    rgba(0,0,0,0.15) 51%,
    rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}

.border-3 {
    border-width:3px !important;
}

.murr_body img {
    display: block;
    max-width: 100%;
    height: auto !important;

}

.murr_body iframe {
    display: block;
    max-width: 100%;
    height: 100%;
}

.mce-container {
    border-radius: .25rem!important;
}