@media only screen and (max-width: 992px) and (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

body {
    background-color: #485563;
    color: whitesmoke;
    font-family: 'PT Sans', sans-serif;
}


#showcase {
    background: url("../img/husky.png") top center/cover no-repeat;
    min-height: 450px;
    max-height: 450px;
    position: relative;
}

#showcase #header {
    z-index: 2;
}

#showcase #overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#About {
    padding-top: 50px;
    padding-bottom: 50px;
}

#Master {
    background: url("../img/pink_girl.png") right top/cover no-repeat;
    min-height: 450px;
    max-height: 450px;
}

#Murren {
    background: url("../img/elf_girl.jpg") left top/cover no-repeat;
    min-height: 450px;
    max-height: 450px;
}

#Start {
    padding-top: 50px;
}

@media (max-width: 768px) {
    .sticky-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

.btn-add-murr {
    box-shadow: 0 0 5px 2px #bbaccb;
}

.tesetsetset {
    border: 1px solid dimgray; /* Параметры границы */
    border-radius: .25rem !important;
    background: palegreen; /* Цвет фона */
    padding: 10px;
    margin: 35px 10px;
    word-break: break-word;
    color: black;

}

.detail {
    border: 1px solid dimgray;
    border-radius: .25rem !important;
    background: khaki;
    padding: 10px;
    margin: 10px;
    word-break: break-word;
    color: black;

}

.bage_draft {
    position: absolute;
    /*top: 25px;*/
    border-radius: 0 5px 5px 0;
    font-style: italic;
    color: darkblue;
    z-index: 1;
}

.btn {
    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2) 49%,
    rgba(0, 0, 0, 0.15) 51%,
    rgba(0, 0, 0, 0.05));
    background-repeat: repeat-x;
}

.trans {
    transition: all .8s ease-in-out;
}

.trans:hover {
    transform: scale(1.05, 1.05)
}


.media .comment-control {
    display: none;
}

.media:hover .comment-control {
    display: block;
}

.comments-footer {
    /*padding: 10px 10px 0 0;*/
    height: 15px;
}


/* crispy form - нет обязательной звездочки */
.col-form-label {
    display: none;
}

.ava {
    border: 1px solid rgba(0, 123, 255, .25);
    padding: 1px;
    background-color: #ced4da;
    box-shadow: 0 0 3px black;
}

