@media only screen and (max-width: 992px) and (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

.post {
    border: 4px double black; /* Параметры границы */
    background: #fc3; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */

}

#showcase {
    background: url("../img/husky.png") top center/cover no-repeat;
    min-height: 450px;
    max-height: 450px;
    position: relative;
}

#showcase #header {
    z-index: 2;
}

#showcase #overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#About {
    padding-top: 50px;
    padding-bottom: 50px;
}

#Master {
    background: url("../img/pink_girl.png") right top/cover no-repeat;
    min-height: 450px;
    max-height: 450px;
}

#Murren {
    background: url("../img/elf_girl.jpg") left top/cover no-repeat;
    min-height: 450px;
    max-height: 450px;
}

#Start {
    padding-top: 50px;
}

@media (max-width: 768px) {
    .sticky-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

.murr-profile {
    background: #6CCFF6 url(/static/img/clouds.png) no-repeat;
    background-size: cover;
    background-position: center -450px;
    min-height: 220px;
    background-attachment: fixed;
    box-shadow: 0 1px 11px 0px #5a89cd;
}

.murr-path {
    background-image: linear-gradient(to right, rgb(217, 159, 173), rgba(105, 158, 216, 0.11));
    border: 0;
}

.murren-gun {
    text-shadow: -1px -1px 0px #fce8dd, 1px 1px 5px #3461c9;
    color: #4259a4e0;
}

.btn-add-murr {
    box-shadow: 0 0 5px 2px #bbaccb;
}

.tesetsetset {
    border: 4px double black; /* Параметры границы */
    background: #fc3; /* Цвет фона */
    padding: 10px;
    margin: 35px 10px;
}

.detail {
    border: 4px double black;
    background: chartreuse;
    padding: 10px;
    margin: 10px;
}

