/* Background container */
/*#cssmenu-container {*/
    /*height: 220px;*/
    /*background-color: #CEE3F8;*/
/*}*/

/* Menu container */
#cssmenu {
    display: inline-block; /* The menu will have width as needed, not 100% */
    position: relative;
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1em;
    border-radius: 2px; /* Little curvature in the borders */
    overflow: hidden; /* Hide everything that overflows, like shadows */
}

/* Icons */
#cssmenu i {
    transform: scale(1.4);
}

/* Menu */
#cssmenu ul {
    display: flex; /* A key part of our menu, displays items side by side, and allows reversing them */
    flex-direction: row-reverse; /* Reverse the items */
    /* Reset styles, overwrite browser defaults */
    list-style: none;
    margin: 0;
    padding: 0;
}

#cssmenu ul li {
    margin: 0;
}

/* Menu items */
#cssmenu ul li a {
    display: inline-block;
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    padding: 10px 20px 10px 30px; /* Adjusting padding to get the proper space */
    margin-left: -15px; /* Pull the items to the left, so the rounded right side will get over them */
    color: white;
    background-color: #428EFE;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0 100px 100px 0; /* Get the right side rounded */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Apply the shadow */
}

/* Hover event */
#cssmenu ul li:hover a {
    background-color: #297EFE;
}

/* Remove the shadow for first item, last in the right side when it gets reversed */
#cssmenu ul li:first-child a {
    box-shadow: none;
}

/* Active item is a bit different */
#cssmenu ul li.active a {
    color: #428EFE;
    background-color: #EEF5FF;
    padding-left: 25px;
    padding-right: 15px;
}

/* Remove the shadow for the active's next item, to match the design more accurately */
#cssmenu ul li.active + li a {
    box-shadow: none;
}
