.murr-card {
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    word-wrap: break-word;
}

.murr-card__header {
    padding: 0.5rem .75rem 0.5rem 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.murr-card__content {
    padding: .25rem 1.25rem;
    color: #007bff;
}

.murr-card__description {
    font-style: italic;

}

.murr-card__tags {
    padding: 0 1.25rem;
    font-size: 0.9rem;
}

.murr-card__footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    display: flex;
    justify-content: space-between;
}

.profile__img {
    height: 30px;
    border-radius: 50%;
    width: 30px;
}

.thumbnail {
    overflow: hidden;
}

.thumbnail__img {
    transition: transform .8s ease-in-out;
}

.thumbnail__img:hover {
    transform: scale(1.05);
}

.murr-card__actions {
    padding: .25rem .25rem;
    color: #ffffff;
    float: right;
    position: relative;
    display: inline-block;
}

.murr-card__action:hover {
    color: #4f4f4f;
    transform: scale(1.3);
}

.murr-card__body__overlay {
    position: absolute;
    border-radius: .25rem;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
}

.murr-card__action__overlay-close {
    justify-content: flex-end;
    padding: 1rem 1rem;
    width: 100%;
    display: flex;
}


.murr-card__action__overlay-hide_murr {
    float: right;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    justify-content: center;
    width: 45%;
    padding: 0.5rem 1rem;
}

.murr-card__action__overlay-report_murr {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    justify-content: center;
    width: 45%;
    padding: 0.5rem 1rem;
}
