.murr-card {
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.murr-card__header {
    padding: .75rem 1.25rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.murr-card__content {
    padding: .25rem 1.25rem;
    color: #007bff;
}

.murr-card__description {
    font-style: italic;
    font-size: 0.8rem;
}

.murr-card__tags {
    padding: 0 1.25rem;
}

.murr-card__footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    display: flex;
    justify-content: space-between;
}

.profile__img {
    width: 50px;
}

.thumbnail {
    overflow: hidden;
}

.thumbnail__img {
    transition: transform .8s ease-in-out;
}

.thumbnail__img:hover {
    transform: scale(1.5);
}