.drop-menu {
  top: 60px;
  right: 0;
}

.formSearch {
  background: hsla(0,0%,100%,.25);
  border-radius: 3px;
  padding: 5px 10px;
  border-radius: 100px;
}

.search-input {
  background: none;
  border: none; 
  outline: none;
  padding-left: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, .5);
}

.search-input__focus {
  border: white;
  border: none;
  padding-left: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.search-input__focus::placeholder {
  color: black;
}

.search-query {
  background: none;
  border: none;
  color: rgba(255, 255, 255, .5);
}

.form-search__focus {
  background: white;
  border-radius: 3px;
  padding: 5px 10px;
  border-radius: 100px;
}

.form-search__focus > div > button {
  color: black;
}

.search-input:focus + .search-query {
  background: white;
  color: black;
}

.btn-search:hover {
  background-color: transparent;
}

.btn-login {
  background: none;
  border: none;
}

.btn-login > a {
  color: white;
}

.nav-head {
  display: block;
}

.logo-header {
  width: 42px;
  height: 42px;
}

.avatar-img {
  width: 42px;
  height: 42px;
  border-radius: 100px;
}

.nav-mobile-btn {
  display: none;
  background-color: transparent;
  border: 0px;
  outline: none !important;
  cursor: pointer;
}

.show-side-nav {
  transition: .3s;
  transform: translateX(0px);
}

.show-side-body {
  transition: .3s;
  transform: translateX(200px);
}

.nav-mobile-btn > i {
  color: #fff;
  font-size: 22px;
}

#mobile-game {
  display: none;
}

/*При экранах, ширина которых меньше или равна 767px*/

@media screen and (max-width: 767px) {
    .row-m {
      margin: 0;
      flex-wrap: nowrap;
      width: 60%;
    }

    #searchForm {
      flex-wrap: nowrap;
      width: 100%;
    }

    .search-input {
      width: 100%;
    }

    .nav-mobile-btn {
      display: block;
    }

    #searchForm {
      display: none;
    }

    .nav-mobile {
      display: none !important;
    }

    .navbar-brand {
      margin: 0 auto; 
    }
}
