.formSearch {
  background: hsla(0,0%,100%,.25);
  border-radius: 3px;
}

.search-input {
  background: none;
  border: none; 
  outline: none;
  padding-left: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, .5);
}

.search-input__focus {
  border: white;
  border: none;
  padding-left: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.search-input__focus::placeholder {
  color: black;
}

.search-query {
  background: none;
  border: none;
  color: rgba(255, 255, 255, .5);
}

.form-search__focus {
  background: white;
  border-radius: 3px;
}

.form-search__focus > div > button {
  color: black;
}

.search-input:focus + .search-query {
  background: white;
  color: black;
}

.btn-login {
  background: none;
  border: none;
}

.btn-login > a {
  color: white;
}

.btn-signUp {
  background: none;  /* Change background this field */
  border: none;
}

.btn-signUp > a {
  color: black;
}