@import "modal.css";

.slide-in {
    height: 100%;
    width: 50%;
}

.slide-in__header {
    height: 35px;
    width: 100%;
    background-color: transparent;
    position: absolute;
}

.slide-in__body {
    padding: 35px 20px 0 20px;
}