{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block content %}
        <div class="profile container col-7 card murr_detail_container" data-murren="{{ murren.pk }}" data-csrf_token="{{ csrf_token }}">
            <img src=" {{ murren.profile_picture.url }}" width="100px" height="auto" alt=""
                 class="rounded shadow shadow-sm"/>
            <span class="font-italic h2 text-dark"> {{ murren.username }} </span>
            {% if murren.username == request.user.username %}

            {% else %}
                {% if user.is_authenticated %}
                    <span class="profile-follow text-follow {% if already_follow %}hide{% endif %}">Подписаться</span>
                    <span class="profile-unfollow text-unfollow {% if not already_follow %}hide{% endif %}">Отписаться</span>
                {% else %}
                    <a class="profile-follow text-follow" href="{% url 'account_login' %}">Подписаться</a>
                {% endif %}
            {% endif %}
        </div>

{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/profile.js" %}"></script>
    <script> $('.profile').murrenProfile(); </script>
{% endblock js %}
