{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
  <h1 class="">Профайл</h1>
    <div>
      <input type="image" src="{{ user.profile_picture.url }}"
             data-toggle="tooltip" data-placement="bottom" title="Click image for change"
             width="100px" height="100px" class="rounded-circle bg-light" style="outline: none;" id="profile-avatap"/>
      <input type="file" id="my_file" style="display: none;"/>
    </div>
    <div class="align-items-center border-left "
         style="border-width: 3px !important;border-left-color: #ffffff47 !important;">
      <h2>Ник Муррена - {{ user.username }}</h2>
    </div>

    <a class="btn btn-info btn-sm" href="{% url 'account_reset_password' %}">Изменить пароль</a>


    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in murren_form %}
        <p>
          {{ field.errors }}
          {{ field }}
        </p>
      {% endfor %}
      <input type="submit" class="btn btn-sm btn-primary" value="Изменить">
    </form>

  </div>


<hr>
    <div class="row" style="height: 200px">
        <div class="col-sm-3">
            <div id="cropper"></div>
        </div>
        <div class="col-sm-9">2 of 4</div>
    </div>

{% endblock %}

{% block js %}
    {{ murren_form.media }}
    {{ block.super }}
  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      });
      {#function readURL(input) {#}
      {#    if (input.files && input.files[0]) {#}
      {#        var reader = new FileReader();#}
      {##}
      {#        reader.onload = function (e) {#}
      {#            $('#profile-avatap').attr('src', e.target.result);#}
      {#        }#}
      {##}
      {#        reader.readAsDataURL(input.files[0]);#}
      {#    }#}
      {#}#}
      {##}
      {#$("#id_profile_picture").change(function () {#}
      {#    readURL(this);#}
      {#});#}
      {##}
      {#$("input[type='image']").click(function () {#}
      {#    $("input[id='id_profile_picture']").click();#}
      {#    console.log($("input[id='id_profile_picture']").val())#}
      {#});#}
  </script>
{% endblock js %}
