{% extends 'base.html' %}

{% block content %}

    <h2>Стартовая страничка</h2>

    <p>Добро пожаловать в Мурренган,
        {% if user.is_authenticated %}
            {% if user.murren_name is not None %}
                <strong class="">{{ user.murren_name }}</strong>!
            {% else %}
                <strong class="">{{ user.username }}!</strong>
            {% endif %}
        {% else %}братан!{% endif %}
    </p>

    <p><strong>Всего зарегистрировано Мурренов: </strong>{{ count }}</p>
{% endblock %}