{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block content %}
    <div class="profile card-columns animate-opacity alert-info p-2 pl-3" data-murren="{{ murren.pk }}" data-csrf="{{ csrf }}">
        <img src=" {{ murren.profile_picture.url }}" width="100px" height="auto" alt="" class="rounded shadow shadow-sm" />
        <span class="font-italic h2 text-dark"> {{ murren.email }} </span>
        {% if user.is_authenticated and murren.username != request.user.username %}
            <span class="profile-follow {% if already_follow %}hide{% endif %}">Подписаться</span>
            <span class="profile-unfollow {% if not already_follow %}hide{% endif %}">Отписаться</span>
        {% endif %}
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/profile.js" %}"></script>
    <script> $('.profile').murrenProfile(); </script>
{% endblock js %}
