{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


    {% if user.murren_name is not None %}
    <h1>{{ user.murren_name }}</h1>
    {% else %}
    <h1>{{ user.username }}</h1>
    {% endif %}

    <img src="{{ user.profile_picture.url }}" alt="" height="100px" width="100px" class="rounded-circle">

    <div class="container">

        <h2 class="text-center">Профайл</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ murren_form|crispy }}

            <button class="btn btn-success btn-sm" type="submit">Изменить</button>
        </form>

    </div>

{% endblock %}
