<template>
  <div class="m-card-create">
    <div class="m-card-create__actions">
      <el-button
        v-if="!isValidateAccessForm && !isShowCropCover"
        class="m-card-create__action upload"
        :icon="isLoading ? 'el-icon-loading' : 'el-icon-check'"
        type="text"
        @click="() => onUploadMurrCard()"
      />
    </div>
    <div class="m-card-create__row">
      <div class="m-card-create__form">
        <murr-card-crop
          v-if="isShowCropCover"
          :cover-url="coverBlobUrl"
          :cover-crop-detail="coverCropDetail"
          @crop-cancel="handlerRemoveCover"
          @crop-success="handlerSuccessCrop"
          class="m-card-create__crop"
        />

        <murr-card-textarea
          v-show="!isShowCropCover"
          :murr-data-local-storage="murrDataLocalStorage"
          :is-title-empty="isTitleEmpty"
          @change="handlerSetMurrCardData"
        />
      </div>
      <div class="m-card-create__options">
        <murr-card-preview
          class="m-card-create__preview"
          :key="coverTimeStampKey"
          :murren="currentMurren"
          :murr-card="murrCardData"
          :cover-blob-url="coverBlobUrl"
          :is-show-remove-cover="isShowRemoveCover"
          :is-show-edit-cover="isShowEditCover"
          @selected-cover="(blob) => (coverBlob = blob)"
          @removed-cover="handlerRemoveCoverData"
          @edit-cover="handlerShowCropCover"
        />

        <murr-card-options
          class="m-card-create__option"
          :murr-data-local-storage="murrDataLocalStorage"
          @change="handlerSetMurrCardData"
        />
      </div>
    </div>

<!--    <recaptcha ref="recaptcha" @verify="onUploadMurrCard" />-->
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

// import Recaptcha from "../common/Recaptcha.vue";

import MurrCardTextarea from "./form/MurrCardTextarea.vue";
import MurrCardOptions from "./form/MurrCardOptions.vue";
import MurrCardPreview from "./form/MurrCardPreview.vue";
import MurrCardCrop from "./form/MurrCardCrop.vue";

import {
  MURR_CARD_CREATE,
  MURR_CARD_CLEAR_LOCAL_STORAGE,
  MURR_CARD_SET_LOCAL_STORAGE,
} from "./store/type.js";
import { defaultMurrCardData } from "./store/index.js";

import MurrCardDetail from "./MurrCardDetail.vue";

export default {
  name: "MurrCardCreate",

  components: {
    MurrCardTextarea,
    MurrCardOptions,
    MurrCardPreview,
    MurrCardCrop,
    // Recaptcha,
  },

  data: () => ({
    murrCardData: defaultMurrCardData,
    coverBlob: null,
    coverBlobUrl: null,
    coverCropDetail: {},
    coverTimeStampKey: Date.now(),
    isShowCropCover: false,
    isShowRemoveCover: false,
    isShowEditCover: false,
    isValidateAccessForm: false,
    isLoading: false,
    isTitleEmpty: false,
  }),

  computed: {
    ...mapGetters({
      currentMurren: "currentMurren",
      murrDataLocalStorage: "murrDataLocalStorage",
    }),

    isMurrenAuthorized() {
      return this.currentMurren;
    },
  },

  methods: {
    async onUploadMurrCard() {

      if (this.isValidateAccessForm) {
        this.isTitleEmpty = true;
        return;
      }

      this.isLoading = true;

      const { success, data } = await this.$store.dispatch(MURR_CARD_CREATE, {

        ...this.murrCardData,
        cover: this.coverBlob,
        coverCropDetail: this.coverCropDetail,
      });

      this.isLoading = false;

      if (success) {
              // eslint-disable-next-line no-console
      console.log("ты создал murr_card");
        this.murrCardData = defaultMurrCardData;
        this.$store.commit(MURR_CARD_CLEAR_LOCAL_STORAGE);
        this.handlerRemoveCoverData();

        this.$store.commit("modal/close");

        this.$store.commit("modal/open", {
          transition: "el-zoom-in-top",
          component: {
            render: MurrCardDetail,
            props: {
              murrCardId: data.id,
            },
          },
        });
      }
    },

    handlerRemoveCover() {
      this.isShowCropCover = false;

      if (!this.isFirstCoverResize) {
        this.isShowRemoveCover = true;
        this.isShowEditCover = true;
        return;
      }

      this.handlerRemoveCoverData();
    },

    handlerSetMurrCardData(data) {
      this.murrCardData = { ...this.murrDataLocalStorage, ...data };

      this.$store.commit(MURR_CARD_SET_LOCAL_STORAGE, this.murrCardData);
    },

    handlerRemoveCoverData() {
      this.isShowRemoveCover = false;
      this.isShowEditCover = false;
      URL.revokeObjectURL(this.coverBlobUrl);
      this.coverBlobUrl = null;
      this.coverBlob = null;
      this.coverTimeStampKey = Date.now();
      this.coverCropDetail = null;
      this.isFirstCoverResize = true;
    },

    handlerSuccessCrop(detail) {
      this.coverCropDetail = detail;
      this.isShowCropCover = false;
      this.isShowRemoveCover = true;
      this.isShowEditCover = true;
      this.isFirstCoverResize = false;
    },

    handlerShowCropCover() {
      this.isShowCropCover = true;
      this.isShowRemoveCover = false;
      this.isShowEditCover = false;
      this.coverTimeStampKey = Date.now();
    },

    ...mapActions({
      notification: "popUpMessage",
    }),
  },

  watch: {
    coverBlob(value) {
      if (value) {
        this.isShowCropCover = true;
        this.isFirstCoverResize = true;
        this.coverBlobUrl = URL.createObjectURL(value);
      }
    },

    murrCardData(data) {
      this.isValidateAccessForm = !data.title.trim().length;
      this.isTitleEmpty = false;
    },
  },
};
</script>
