/* https://codepen.io/supah/pen/jqOBqp */

/*--------------------
Chat
--------------------*/


.center {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

/*--------------------
Body
--------------------*/

.chat_panel {
    /*width: 300px;*/
    /*height: 80vh;*/
    /*min-height: 300px;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    height: 100%;
    z-index: 2;
    overflow: hidden;
    box-shadow: 10px 5px 30px rgba(0, 0, 0, .2);
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.chat_panel-title {
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.3);
}

.messages {
    flex: 1 1 auto;
    color: rgba(255, 255, 255, .5);
    overflow-y: auto;
    position: relative;
    width: 100%;
    min-height: 100px;
}

.messages-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    width: 100%;
    padding: 5px 20px;
}

.message {
    width: 100%;
    text-align: center;
    margin: 8px 0;
}

.message::after {
    clear: both;
    content: " ";
    display: block;
}

.message-from-server {
    padding: 5px 8px;
    background: rgba(0, 0, 0, .3);
    width: fit-content;
    margin: 0 auto;
    border-radius: 100px;
}

.message-from-user {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    background: rgba(0, 0, 0, .3);
    font-size: 11px;
    line-height: 1.4;
    margin: 7px 0;
    margin-left: 35px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);

}

.timestamp {
    position: absolute;
    bottom: -15px;
    font-size: 9px;
    color: rgba(255, 255, 255, .3);
}

.avatar {
    position: absolute;
    z-index: 1;
    bottom: -15px;
    left: -35px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24);
}

._img {
    width: 100%;
    height: auto;
}

.message-box {
    flex: 0 1 40px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: relative;
}

.message-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, .7);
    font-size: 11px;
    height: 17px;
    margin: 0;
    padding-right: 20px;
    width: 265px;
}

.message-submit {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 20px;
    color: #fff;
    border: none;
    background: transparent;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    outline: none !important;
    transition: background .2s ease;
}

.message-submit:hover {
    color: #c5c5c5;
}

.scroll-bottom-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 20px;
    margin-top: -84px;
    padding: 0px;
    border: 0px;
    outline: none !important;
    background-color: transparent;
}

.scroll-bottom-btn-v {
    display: block;
    animation: show 0.5s ease-in-out;
}

.scroll-bottom-btn-n {
    animation: hide 0.5s ease-in-out;
    display: none;
    
}

.scroll-bottom-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 7px;
    background: rgba(0, 0, 0, 0.3);
}

.scroll-bottom-circle > i {
    color: #fff;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}
