body {
    background: #e8430a;
    background-size: cover;
}

.app {
    margin: 5px;
}

.base_card {
    max-width: 812px;
    margin-right: auto !important;
    margin-left: auto !important;
    padding: 20px;
    border-radius: 10px;
    color: #1a2a6c;
    font-family: 'Fira Sans Condensed', sans-serif;

}


.hell-font {
    font-family: 'Bad Script', cursive;
}

.card-img {
    text-align: center !important;
    margin-bottom: 5px;

}

.card-text {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    color: #1a2a6c;
    text-align: center;
}

.card-btb {
    outline: 0 !important;
    text-align: center !important;
    margin-top: 10px;
}

.card-img__base {
    max-width: 100%;
    border: white solid 2px;
    border-radius: 5px;

}

.virgil-btn {
    background-color: #0072ff;
    border-radius: 5px;
    padding: 5px;
    position: fixed;
    bottom: 5%;
    right: 10%;
    color: aliceblue;
    box-shadow: 0 5px #666;
    outline: 0 !important;
    z-index: 1;
}

.virgil-btn:active {
    background-color: #00c6ff;
    transform: translateY(4px);
    box-shadow: 0 0 #666;

}

.virgil_tell__panel {
    background-color: #7d807e;
    border-radius: 10px;
    position: fixed;
    width: 310px;
    height: 100px;
    bottom: 10%;
    right: 10%;
    padding: 5px;
    z-index: 1;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.vertical-center {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*img {*/
/*max-width: 100%;*/
/*}*/

/*.murr_game {*/
/*margin-top: 5px;*/
/*}*/

/*.active_monitor {*/
/*position: relative;*/
/*}*/

/*.murren_group {*/
/*color: #1d2124;*/
/*background-color: whitesmoke;*/
/*border-radius: 5px;*/
/*font-size: 13px;*/
/*padding: 5px;*/
/*margin-bottom: 5px;*/
/*}*/

/*.monitor_img {*/
/*border-radius: 10px;*/
/*border: solid whitesmoke 3px;*/
/*}*/

/*.monitor_wrapper {*/
/*position: absolute;*/
/*top: 0;*/
/*width: 33%;*/
/*right: 0;*/
/*margin: 10px;*/

/*}*/


/*.murren_data_card {*/
/*margin: 0;*/
/*padding: 0;*/
/*border-radius: 5px;*/
/*background-color: white;*/
/*}*/

/*.menu-btn {*/
/*background-color: #9fcdff;*/
/*border-radius: 50%;*/
/*position: fixed;*/
/*bottom: 5%;*/
/*right: 5%;*/
/*width: 40px;*/
/*height: 40px;*/
/*outline: 0 !important;*/
/*}*/

/*.murr-btn {*/
/*outline: 0 !important;*/
/*}*/

/*.quests_panel {*/
/*background-color: white;*/
/*border-radius: 5px;*/
/*margin: 0;*/
/*padding: 5px;;*/
/*}*/

.murren_avatar_img {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-height: 100%;
    width: 64px;
    
}


/*.barmen_dialog {*/
/*background: radial-gradient(circle farthest-corner at 85.4% 50.8%, #2193b0 0%, #6dd5ed 74.2%) no-repeat fixed;*/
/*margin-bottom: 5px;*/
/*border-radius: 5px;*/
/*padding: 5px;*/
/*text-align: center;*/
/*}*/

/*.group_members-enter-active, .group_members-leave-active {*/
/*transition: opacity .5s;*/
/*}*/

/*.group_members-enter, .group_members-leave-to !* .fade-leave-active до версии 2.1.8 *!*/
/*{*/
/*opacity: 0;*/
/*}*/

/*.quest {*/
/*background-color: whitesmoke;*/
/*border-radius: 5px;*/
/*color: #1d2124;*/
/*margin-top: 5px;*/
/*margin-bottom: 5px;*/
/*overflow: auto;*/

/*}*/

/*.enemy_data {*/
/*margin: 0;*/
/*padding: 0;*/
/*position: relative;*/
/*text-align: right;*/
/*height: 100%*/
/*}*/

/*.enemy_data-hp {*/
/*right: 0;*/
/*top: 45%;*/
/*margin-right: 7px;*/
/*position: absolute;*/
/*text-align: right;*/
/*transform: translate(0, -50%);*/
/*font-size: 18px*/
/*}*/