<!DOCTYPE html>

{% load static %}

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">

    <title>Murrengan</title>

</head>

<body>


<nav class="navbar navbar-expand-sm navbar-light sticky-top bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'murr_list' %}">
            <img src="{% static 'img/favicon.ico' %}" width="30" height="30" class="d-inline-block align-top">
            Murrengan
        </a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#base_navbar">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="base_navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#Start" class="nav-link active text-center">О нас</a>
                </li>
                <li class="nav-item">
                    <a href="#About" class="nav-link text-center">Как работает?</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'murr_list' %}" class="nav-link text-center">Все Мурры</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account_signup' %}" class="nav-link text-center">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="showcase" class="d-flex justify-content-center align-items-center">
    <div id="overlay"></div>
    <div id="header" class="container text-white text-center">
        <h1 class="display-4">Murrengan</h1>
        <p class="lead">Создай команду или присоединись к существующей</p>
        <button id="#About" class="btn btn-lg btn-info px-5 mt-2" data-toggle="modal" data-target="#bokingModel">
            Куда я попал?
        </button>
        <button id="" class="btn btn-lg btn-danger px-5 mt-2" data-toggle="modal" data-target="#bokingModel">
            Регистрация!
        </button>
    </div>
</section>

<section id="Start">
    <div class="container text-center">
        <h2 id="in_a_team">В команде единомышленников<br> добьешься большего,<br> чем в одиночку!</h2>

        <div class="p-3 mt-4">
            <img src="{% static "/img/wolf.svg" %}" width="200" height="200" class="img-fluid">
            <p class="lead font-weight-bolder mt-3">Одинокий волк погибает,<br> но стая живёт.</p>
        </div>

    </div>
</section>


<section id="About" class="">
    <div class="container text-center">
        <h2>Murrengan - это группа людей, объединенная для достижения цели.</h2>
    </div>
</section>


<section id="Master" class="d-flex justify-content-center align-items-center">
    <div id="overlay"></div>
    <div id="header" class="container text-black text-left">
        <h1 class="display-4 ">Мастер</h1>
        <p class="lead font-weight-normal">Лидер команды по постижению цели</p>

        <button id="where_i_am" class="btn btn-lg btn-info mt-2" data-toggle="modal" data-target="#bokingModel">
            Стать Мастером!
        </button>
    </div>
</section>


<section id="Murren" class="d-flex justify-content-center align-items-center">
    <div id="overlay"></div>
    <div id="header" class="container text-white text-right">
        <h1 class="display-4 ">Муррен</h1>
        <p class="lead font-weight-normal">Участник команды по постижению цели</p>

        <button id="where_i_am" class="btn btn-lg btn-info mt-2" data-toggle="modal" data-target="#bokingModel">
            Стать Мурреном!
        </button>
    </div>
</section>

<section id="footer" class="bg-secondary py-1">
    <ul class="nav text-center justify-content-center flex-column flex-sm-row">
        <li class="nav-item">
            <a href="" class="nav-link text-white">Murr</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white">Murr</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white">Благодарю за посещение сайта =)</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white">Murr</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link text-white">Murr</a>
        </li>
    </ul>

</section>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/static/js/custom.js"></script>

</html>
