{% extends 'Murr_card/base_murrs.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/murr_list.css" %}" />
{% endblock css %}

{% block content %}
    <div class="container py-1">
        <div class="card-columns animate-opacity p-1">
            {% for murr in page %}
                {% include 'Murr_card/includes/_murr_list_card.html' %}
            {% endfor %}
        </div>
    </div>
    {% include 'Murr_card/includes/_murr_list_pagination.html' %}
{% endblock content %}


{% block js %}
    {{ block.super }}

    <script>
        $("#id_searcher").change(function () {
            console.log($(this).val());
        });
    </script>

{% endblock js %}