{% extends 'base.html' %}



{% block content %}
  <style>
    .tesetsetset {
      border: 4px double black; /* Параметры границы */
      background: #fc3; /* Цвет фона */
      padding: 10px;
    }

    .detail {
      border: 4px double black;
      background: chartreuse;
      padding: 10px;
      margin: 10px;
    }
  </style>

  <div class="container">
    <h2 class="text-center">Детали Мурра</h2>

    {# detail Murr card #}

    <div class="detail mt-5">
      <h3 class="text-center">{{ murr_detail.title }}</h3>
      {% for murr in murr_detail.categories.all %}
        {{ murr }}
      {% endfor %}
      <br>

      <h2>
        <img src="{{ murr_detail.author.profile_picture.url }}" alt="" width="45px" height="45px">
        {{ murr_detail.author.user.username }}
      </h2>
      {% if murr_detail.image %}
        <img src="{{ murr_detail.image.url }}" alt="">
      {% endif %}

      {{ murr_detail.content | safe }}

      <a href="">Udpate</a>
      <a href="">Delete</a>

    </div>
  </div>
  {# end detail Murr card #}






  <div class="tesetsetset">

    {% for comment in murr_detail.get_comments %}


      <h2>
        <img src="{{ comment.user.author.profile_picture.url }}" alt="" width="45px" height="45px">
        {{ comment.user.username }}
      </h2>



      <p>{{ comment.timestamp| timesince }} назад</p>
      <p>{{ comment.content }}</p>
      <hr>

    {% endfor %}

  </div>



  {% if user.is_authenticated %}

    <div class="container">
      <form method="POST">
        {% csrf_token %}

        {{ form }}

        <div class="form-group">

          <button type="submit" class="btn btn-secondary">Добавить комментарий</button>

        </div>

      </form>
    </div>
  {% endif %}

{% endblock %}
