{% extends 'base.html' %}

{% block content %}

    <body>

    <style>
        .post {
            border: 4px double black; /* Параметры границы */
            background: #fc3; /* Цвет фона */
            padding: 10px; /* Поля вокруг текста */

        }
        @media only screen and (max-width: 992px) and (min-width: 576px) {
            .card-columns {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
            }
        }
    </style>


    <div class="container ">

        <div class="card-columns">
            <!-- post -->
            {% for murr in murrs %}
                <div class="card p-1 shadow shadow-sm mb-3">
                    {% if murr.cover %}
                        <a href="{% url 'murr_detail' murr.pk %}">
                            <img class="card-img-top img-thumbnail" src="{{ murr.cover.url }}" alt="Card image cap">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <a href="{% url 'murr_detail' murr.pk %}"><h5 class="card-title">{{ murr.title }}</h5></a>

                        {% if murr.description %}
                            <p class="card-text">{{ murr.description }}</p>
                        {% else %}
                            <p class="text-muted">Тут должно быть description</p>
                        {% endif %}


                    </div>
                </div>
            {% endfor %}
        </div>




    </div>
    <!-- Pagination -->
    <nav aria-label="Page navigation example">

        <ul class="pagination pagination-template d-flex justify-content-center mt-2">
            {% if murrs.has_previous %}
                <li class="page-item"><a href="?{{ page_request_ver }}={{ murrs.previous_page_number }}"
                                         class="page-link">Previous</a>
                </li>
            {% endif %}
            <li class="page-item"><a href="#" class="page-link active">{{ murrs.number }}</a></li>
            {% if murrs.has_next %}
                <li class="page-item"><a href="?{{ page_request_ver }}={{ murrs.next_page_number }}"
                                         class="page-link">Next</a>
                </li>
                </ul>
            {% endif %}
    </nav>

    <aside class="row">
        <!-- Widget [Search Bar Widget]-->
        <div class="mx-2 search widget">
            <header>
                <h3 class="h6">Найти Мурр</h3>
            </header>
            <form action="{% url 'search' %}" class="search-form">
                <div class="form-group">
                    <input type="text" name="q" placeholder="Что ты хочешь найти?">
                    <button type="submit" class="submit">найти</button>
                </div>
            </form>
        </div>

        <!-- Widget [Latest Posts Widget]        -->
        <div class="latest-posts widget border border-bottom-0 border-top-0  ml-md-2 mr-md-2  pl-md-2 pr-md-2">
            <header>
                <h3 class="h6">Крайние 2 Мурра</h3>
            </header>
            <div class="blog-posts">
                {% for murr in latest %}
                    <a href="{% url 'murr_detail' murr.pk %}">
                        <div class="item d-flex align-items-center my-2">
                            {% if murr.cover %}
                                <div class="image img-thumbnail mx-md-2">
                                    <img src="{{ murr.cover.url }}" width="100px" height="100px"
                                         alt="..." class="img-fluid">
                                </div>
                            {% endif %}
                            <div class="title"><strong>{{ murr.title }}</strong>
                                <div class="d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- Widget [Categories Widget]-->
        <div class="categories widget ml-md-2 mt-2 ">
            <header>
                <h3 class="h6">Категории</h3>
            </header>
            {% for cat in all_categories_count %}
                <div class="item d-flex justify-content-between"><a
                        href="#">{{ cat.categories__title }}</a><span>{{ cat.categories__title__count }}</span>
                </div>
            {% endfor %}
        </div>


    </aside>


    </body>

{% endblock %}

