{% extends 'base.html' %}

{% block content %}

    <div class="container py-1">

    <div class="card-columns animate-opacity alert-info p-1"
         style="background-color: #d1ecf1ad;
         box-shadow: 0 0 8px 7px #9fbad7;">
      <!-- post -->
      {% for murr in murrs %}
        <div class="card p-2 shadow shadow-sm mb-3 animate-opacity" style="overflow: hidden;">
              <div class="p-3 mb-1">
                Featured
              </div>
                {% if murr.is_draft %}
                  <a href="{% url 'murr_detail' murr.slug %}" class="badge badge-warning bage_draft mt-4"> ЧЕРНОВИК </a>
                {% endif %}
                {% if murr.cover %}
                  <div class="img-thumbnail" style="box-shadow: 0 0px 5px -2px black;">
                    <div style="overflow: hidden !important;">
                      <a href="{% url 'murr_detail' murr.slug %}">
                        <img class="card-img-top trans" src="{{ murr.cover.url }}" alt="murr cover"
                             title="{{ murr.title }}">
                </a>
                    </div>
                  </div>
                {% endif %}

          <div class="card-body">
            <a href="{% url 'murr_detail' murr.slug %}"><h5 class="card-title">{{ murr.title }}</h5></a>

              <p class="card-text">{{ murr.description }}</p>


            <p class="text-muted">{{ murr.timestamp| timesince }}</p>
          </div>

        </div>
      {% endfor %}
    </div>
  </div>


  <!-- Pagination -->
  <nav aria-label="Page navigation example">

    <ul class="pagination pagination-template d-flex justify-content-center mt-2">
      {% if murrs.has_previous %}
        <li class="page-item"><a href="?{{ page_request_ver }}={{ murrs.previous_page_number }}"
                                 class="page-link">Previous</a>
        </li>
      {% endif %}
      <li class="page-item"><a href="#" class="page-link active">{{ murrs.number }}</a></li>
      {% if murrs.has_next %}
        <li class="page-item"><a href="?{{ page_request_ver }}={{ murrs.next_page_number }}"
                                 class="page-link">Next</a>
        </li>
        </ul>
      {% endif %}
  </nav>

  <aside class="row">
    <!-- Widget [Latest Posts Widget]        -->
    <div class="border border-bottom-0 border-top-0 px-2 col-md-5">
      <header>
        <h3 class="h6">Крайние 2 Мурра</h3>
      </header>
      <div class="blog-posts">
        {% for murr in latest %}
          <a href="{% url 'murr_detail' murr.slug %}">
            <div class="item d-flex align-items-center my-2">
              {% if murr.cover %}
                <div class="image img-thumbnail mx-md-2">
                  <img src="{{ murr.cover.url }}" width="100px" height="100px"
                       alt="..." class="img-fluid">
                </div>
              {% endif %}
              <div class="title"><strong>{{ murr.title }}</strong>
                <div class="d-flex align-items-center">
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>

    <!-- Widget [Categories Widget]-->
    <div class="categories widget col-md px-2">
      <header>
        <h3 class="h6">Категории</h3>
      </header>
      {% for cat in all_categories_count %}
        <div class="item d-flex justify-content-between"><a
                href="#">{{ cat.categories__title }}</a><span>{{ cat.categories__title__count }}</span>
        </div>
      {% endfor %}
    </div>


  </aside>

{% endblock %}

