<div class="card border-0 text-dark" data-murr="{{ murr.slug }}">
    <div class="card-header">
        <a href="{% url 'murren_profile' murr.author.username %}" class="no-underline">
            <img src="{{ murr.author.profile_picture.url }}" class="card-profile-img rounded" alt="">
            <span class="card-author">{{ murr.author.username }}</span>
        </a>
    </div>


{#    {% if murr.cover %}#}
{#        <div class="img-thumbnail">#}
{#            <div class="card-thumbnail-inner">#}
{#                <a href="{% url 'murr_detail' murr.slug %}">#}
{#                    <img class="card-img trans" src="{{ murr.cover.url }}" title="{{ murr.title }}" alt="cover" />#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

    <div class="card-body py-1">
        <h4 class="card-title"><a href="{% url 'murr_detail' murr.slug %}">{{ murr.title }}</a></h4>
        <div class="card-text">{{ murr.description }}</div>
        <div class="murr_content overflow-scroll-gradient">
            <div class="detail my-1 px-0">{% include "MurrCard/includes/_just_murr.html" %}</div>
        </div>
    </div>

    <div id="wave">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <div class="card-tags">
        {% for tag in murr.tags.all %}
            <a class="card-tag text-muted no-underline" href="{% url 'murr_list_by_tag_name' tag %}">#{{ tag }}</a>
        {% endfor %}
    </div>

    <div class="card-footer d-flex justify-content-between text-muted border-0">
        <div class="card-created-at">
            {{ murr.timestamp|timesince }}
        </div>
        <div class="card-stats">
            <span class="card-likes">
                {% if request.user.pk in murr.get_liked_murrens %}
                    <span class="card-like clickable far fa-heart hide"></span>
                    <span class="card-unlike clickable fas fa-heart"></span>
                {% else %}
                    <span class="card-like clickable far fa-heart"></span>
                    <span class="card-unlike clickable fas fa-heart hide"></span>
                {% endif %}
                <span class="card-likes-count">{{ murr.get_liked_murrens.count|default:'' }}</span>
            </span>
            <span>
                <a href="{% url 'murr_detail' murr.slug %}" class="far fa-comments text-muted no-underline" ></a>
                {{ murr.comments_total|default:'' }}
            </span>
        </div>
    </div>
</div>
