{% load static %}

{% block group %}
    <div class="card bg-warning mb-1">
        <p class="text-center p-0 mb-0">Задача: Победить Wither</p>
    </div>

{#    <div class="card bg-primary mb-1" v-if="canAddGroupMember">#}
{#        <button class="btn btn-primary" v-on:click="addToGroup">Добавить участника</button>#}
{##}
{#    </div>#}
{#    <p v-text="groupMemberCount"></p>#}
{#    <div v-else>#}
{#        <h3>Мксимум участников группы</h3>#}
{#    </div>#}

    <div>
        <div class="border border-white bg-light rounded shadow-lg mb-3">
{#            <img v-bind:src="member.img" class="img-fluid img-thumbnail">#}
{#            <table class="table p-0 m-0 table-borderless">#}

                <h4 v-text="member.name" class="m-0 p-0 text-center"></h4>

{#                <tr>#}
{#                    <td scope="row" class="p-0 m-0 d-flex justify-content-center align-items-center">#}
{#                        <span class="p-0 mr-1" v-text="member.stat.hp"></span>#}
{#                        <img class="murr_stat" alt="" v-bind:src="member.stat.hp_link">#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td scope="row" class="p-0 m-0 d-flex justify-content-center align-items-center">#}
{#                        <span class="p-0 mr-1" v-text="member.stat.mp"></span>#}
{#                        <img class="murr_stat" alt="" v-bind:src="member.stat.mp_link">#}
{#                    </td>#}
{#                </tr>#}
{#            </table>#}
        </div>
    </div>



{% endblock group %}


{% block js %}


{% endblock js %}

