{% load static %}

{% block group %}

    <div id="info_panel" class="card mb-3 shadow-lg">
        <img src="{{ murren.profile_picture.url }}" class="card-img-top" alt="...">
        <h4 class="card-title m-0 p-0 text-center">{{ murren.username }}</h4>


        <table class="table p-0 m-0 table-borderless">

            <tr>
                <td scope="row" class="p-0 m-0 d-flex justify-content-center align-items-center">
                    <span class="p-0 mr-1">100</span>
                    <img class="card-img murr_stat" alt="" src="{% static "/img/murr_game/hp.svg" %}">
                </td>
            </tr>

            <tr>

                <td scope="row" class="p-0 m-0 d-flex justify-content-center align-items-center">
                    <span class="p-0 mr-1">60</span>
                    <img class="card-img murr_stat" alt="" src="{% static "/img/murr_game/mp.jpg" %}">
                </td>
            </tr>
        </table>
    </div>

    <div class="card mb-3">
        <p class=" text-center p-0 mb-0">Задача: Победить Wither</p>
    </div>

{% endblock group %}

