{% load static %}


{% block css %}
    <style>
        .bottom_monitor {
            min-height: 135px;
        }
    </style>
{% endblock css %}

{% block monitor %}

    <div id="monitor">

        <button v-show="show_tawern === false"
                v-on:click="get_data_from_client_and_come_to_tawern"
                class="btn btn-secondary btn-lg center">

            Войти в таверну
        </button>


        <div v-if="show_tawern">
            <div class="monitor-img">
                <img src="{% static "/img/murr_game/Tawern_Barman.png" %}"
                     class="card"
                     alt="Активная картинка монитора"
                     id="onChake">
            </div>
            <div class="murren_card"
                 :class="{'bg-primary': show_murren_group}">

                {# murren_avatar-data #}
                <div class="col-8 p-0 m-0 d-flex align-items-center text-center">
                    <div class="murren_card_data mx-auto">
                        <h5 class="p-0 m-0">[[ murren_name ]]</h5>
                        <table class=" ">
                            <th style="color: red">[[ hp ]]</th>
                            <th><img src="/static/img/murr_game/hp.svg" width="15" height="15" alt="">
                            </th>
                            <th style="color: blue">[[ mp ]]</th>
                            <th><img src="/static/img/murr_game/mp.svg" width="15" height="15" alt="">
                            </th>
                        </table>
                    </div>
                </div>

                {# murren_avatar-img #}
                <div class="col-4 p-0 m-0 d-flex align-items-center">
                    <img v-bind:src="avatar_url"
                         class="img-thumbnail p-0 m-0 "
                         alt="...">
                </div>
                <div v-if="show_murren_group">
                    <button class="btn bg-info"
                            v-on:click="event_leave_group">
                        Выйти из группы
                    </button>
                </div>
                <div v-else></div>

            </div>

            <div class="bottom_monitor row m-1 p-0">
                <div class="col-9 m-0 p-0">

                    <div v-if="show_create_group_menu">

                        <div class="form-inline">

                            <label for="group_name_input" class="mr-2 sr-only">Название группы:</label>
                            <input v-model.lazy.trim="group_name_input"
                                   @keyup.enter="create_group_by_name"
                                   maxlength="20"
                                   id="group_name_input"
                                   placeholder="Введи название группы"
                                   class="form-control">
                            <button
                                    v-on:click="create_group_by_name"
                                    type="submit"
                                    class="btn btn-primary">
                                Создать группу
                            </button>
                        </div>
                    </div>
                    <div v-else>

                        <button type="button"
                                class="btn btn-secondary "
                                data-toggle="tooltip"
                                v-on:click="show_create_group_panel"
                                title="Создать группу">
                            Создать группу
                            <i class="fas fa-user-plus ml-1"></i></button>

                        <button type="button"
                                class="btn btn-info"
                                data-toggle="tooltip"
                                v-on:click="show_murren_in_tawern"
                                title="Кто в таверне?">
                            Кто в таверне?
                            <i class="fas fa-users ml-1"></i></button>

                        <button type="button"
                            class="btn btn-info"
                            title="Кто в таверне?"

                            @click="shakeBtn">

                            Тестовый текст
                        </button>
                    </div>


                    <div v-if="available_group">

                        <p v-for="i in available_group">
                            [[ i.group_name ]]

                            <a href="#"
                               v-on:click.prevent="remove_chat_member(i.id)"
                               class="badge badge-danger">
                                Удалить</a>
                        </p>
                        <br>

                    </div>
                    <div v-else></div>


                </div>
                <div class="col-3 m-0 p-0">
                    <div v-if="success_group_created">
                        <p>Группа <span class="text-dark">[[ group_name_input ]]</span> ждет тебя!</p>
                    </div>
                    <div v-else>Пока ничего не произошло</div>
                </div>
            </div>

            <div class="chat_panel">
                <div class="chat_panel-title">
                    <h1>murren_name</h1>
                    <h2>murren_title</h2>
                    <!-- <figure class="murren_avatar-chat">
                        <img src="" alt=""> -->

                    </figure>
                </div>

                <div class="messages" id="wrapp">
                            <div class="messages-content">
                                <div v-for="log in logs"
                                     class="message">
                                    <div v-if="log.type !== 'action'"
                                    class="message-from-user">
                                    [[ log.text ]]
                                    <figure class="avatar">
                                        <img v-bind:src="avatar_url"
                                             class="_img"
                                             alt="">
                                    </figure>
                                    <div class="timestamp">10:40</div>
                                    </div>
                                    <div v-else
                                    class="message-from-server">
                                        [[ log.text ]]
                                    </div>
                                </div>
                            </div>
                        </div>

                <div class="message-box">

                    <input v-model.lazy.trim="murren_message_input"
                           @keyup.enter="send_message"
                           type="text"
                           class="message-input"
                           placeholder="Введи сообщение">

                    <button
                            v-on:click="send_message"
                            type="submit"
                            class="message-submit">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                    <button
                        v-on:click="scroll_to_new"
                        class="scroll-bottom-btn"
                        v-bind:class="{'scroll-bottom-btn-v': scroll_btn, 'scroll-bottom-btn-n': !scroll_btn}">
                            <span class="scroll-bottom-circle">
                                <i class="fas fa-arrow-down"></i>
                            </span>
                    </button>

                </div>
            </div>

        </div>
    </div>

{% endblock monitor %}


{% block js %}
{% endblock js %}
