{% load static %}


{% block css %}
{% endblock css %}

{% block monitor %}

{#    <div id="ws_tawern">#}
{#        <come_to_tawern_btn></come_to_tawern_btn>#}
{#    </div>#}

{#    <div class="groups">#}

{#        <div class="monitor"></div>#}
{#        <div class="connection text-center"></div>#}
{#        <div class=" container d-flex justify-content-center">#}
{#            <div class="messages col-8 mb-2 bg-dark">#}
{##}
{#            </div>#}
{#        </div>#}
{#        <div class="d-flex justify-content-center">#}
{#            <div class="form col-8">#}
{#                <div>#}
{#                    <input type="text" id="url" class="form-control">#}
{#                </div>#}
{#                <br>#}
{#                <div>#}
{#                    <button onclick="on_connect()" class="btn btn-primary">Connect</button>#}
{#                    <button onclick="on_disconnect()" class="btn btn-danger">Disconnect</button>#}
{#                    <button onclick="clean_div()" class="btn btn-secondary">Clear</button>#}
{#                </div>#}
{#                <br>#}
{#                <div>#}
{#                    <textarea class="form-control" name="" id="message" cols="10" rows="3"></textarea>#}
{#                </div>#}
{#                <br>#}
{#                <div>#}
{#                    <button onclick="on_send()" id="send" class="btn btn-primary">Send</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock monitor %}

{% block group %}
{% endblock group %}

{% block js %}
{% endblock js %}
