{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static "css/murr_ui/murr_ui.css" %}"/>
{% endblock css %}

{% block content %}

    {% block panel %}
        <div id="panel" class="col-3 bg-primary">
            <h2 class="text-center">Блок панель</h2>
            <div>{% include 'murr_game/panel.html' %}</div>

        </div>
    {% endblock panel %}

    {% block monitor %}
        <div id="monitor" class="col-7 bg-success">
            <h2 class="text-center">Блок монитор</h2>

        <div>{% include 'murr_game/monitor.html' %}</div>

        </div>
    {% endblock monitor %}

    {% block group %}
        <div id="group" class="col-2 bg-info text-dark">
            <h2 class="text-center">Блок группа</h2>
            <div>{% include 'murr_game/group.html' %}</div>
        </div>
    {% endblock group %}


{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>

        let socket = null;

        var url = 'ws://127.0.0.1:8000/ws/chat/';

        function socket_init(url) {
            socket = new WebSocket(url);
        }


        function on_connect() {
            {#asdf!#}
            console.log("Connect");
            {#var url = $('#url').val();#}
            var url = 'ws://127.0.0.1:8000/ws/chat/';

            socket_init(url);

            socket.onopen = function () {
                $('.connection').html('<b>Online</b>');
                console.log("Соединение установлено.");

            };

            socket.onclose = function (event) {
                $('.connection').html('<b>Offline</b>');
                if (event.wasClean) {
                    console.log('Соединение закрыто чисто');
                } else {
                    console.log('Обрыв соединения'); // например, "убит" процесс сервера
                }
                console.log('Код: ' + event.code + ' причина: ' + event.reason);
            };

            socket.onmessage = function (event) {
                data = JSON.parse(event.data);
                console.log("Получены данные " + event.data);
                console.log(data.event);
                console.log(data.event === 'group.list');
                $('.messages').append(event.data);
                $('.messages').append("<br>");
            };
        }
        {# Парсим строку из ввода - выполняем метод event - #}

        function on_send() {
            var message = $("#message").val();
            socket.send(message);
        }

        function on_disconnect() {
            socket.close();
        }

        function clean_div() {
            $('.messages').empty();
        }

    </script>

    <script src="{% static "js/murr_js/monitor_engine.js" %}"></script>
    <script src="{% static "js/murr_js/info_panel_engine.js" %}"></script>
{% endblock js %}

