{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/murr_game/reset.css" %}">
    <style>
        body {
            background-color: transparent;
        }

        img {
            max-width: 100%;
        }

        .log_panel {
            position: relative;
            background-color: rebeccapurple;
            border-radius: 5px;
            overflow: auto;
            min-height: 90px;
            max-height: 90px;
            margin-bottom: 5px;

        }

        .log_panel_message {
            padding: 4px;
            color: #1b1e21;
            background-color: floralwhite;
            border-radius: 5px;
            margin: 3px;
            font-size: 12px;
            bottom: 0;
            overflow: hidden;

        }

        .active_panel {
            border: 1px solid #dee2e6;
            margin: 0;
            padding: 0;
        }

        .murren_card {
            color: #1d2124;
            background-color: whitesmoke;
            border-radius: 5px;
            font-size: 13px;
            padding: 5px;
        }


    </style>
    {#    <link rel="stylesheet" type="text/css" href="{% static "css/murr_game/reset.css" %}">#}
    <link rel="stylesheet" href="{% static "css/murr_game/chat_panel.css" %}"/>

{% endblock css %}

{% block content %}
    <div class="row mx-1 ">

        <div id="panel" class="col-2 pt-3 bg-primary">
            {% include 'murr_game/panel.html' %}
        </div>


        <div class="col-10 bg-success p-0">
            {% include 'murr_game/monitor.html' %}
        </div>

    </div>

{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        new Vue({
            el: '#monitor',
            delimiters: ['[[', ']]'],

            data: {

                {# switchers #}
                show_tawern: false,
                show_create_group: false,
                show_murren_group: false,
                success_group_created: false,

                {# data sets#}
                logs: ['Действие: Ты вошел в murr', 'Действие: включен логер',],
                data_from_django: '',
                available_group: false,


                group_name_input: '',
                murr: 'murr',


                murren_name: '',
                avatar_url: '',
                hp: '',
                mp: '',
                user_id: ''


            },
            methods: {

                get_data_from_client_and_come_to_tawern() {
                    axios
                        .get('http://127.0.0.1:8000/murr_game/api/return_character_info/')
                        .then(django_answer => {
                            this.avatar_url = django_answer.data.avatar_url;
                            this.murren_name = django_answer.data.character.name;
                            this.hp = django_answer.data.character.stats.hp;
                            this.mp = django_answer.data.character.stats.mp;
                            this.user_id = django_answer.data.user_id;
                            this.come_to_tawern();
                            console.log('axios отработал')
                        })
                        .catch(error => console.log(error));
                    console.log('test');
                    console.log(this.user_id);
                    console.log('test');
                },

                come_to_tawern() {

                    {# подключаться к сокету tawern #}

                    let group_id = '1';
                    let ws = new WebSocket('ws://127.0.0.1:8000/ws/chat/' + group_id + '/');

                    ws.onopen = () => {
                        console.log("Соединение с сокетом установлено.");

                        let event_come_to_tawern = '{"event": "add.chat.member", "data": {"user_id": "' +
                            this.user_id +
                            '"}}';
                        console.log(event_come_to_tawern);
                        ws.send(event_come_to_tawern);




                        let event_get_list_messages = '{"event": "list.messages", "data": {}"}}';
                        console.log(event_get_list_messages);
                        ws.send(event_get_list_messages);


                        this.show_tawern = (this.show_tawern !== false) ? false : true;
                        console.log("Добро пожаловать в таверну!");
                    };

                    ws.onmessage = (data) => {

                        {#console.log("С бекенда пришло - " + JSON.parse(data.data));#}
                        {#console.log();#}
                        this.data_from_django = JSON.parse(data.data);
                        console.log(this.data_from_django.data)

                    };
                },


                create_group_by_name() {
                    {# инициализируем сокет по юрл #}
                    const ws = new WebSocket('ws://127.0.0.1:8000/ws/chat/');

                    {# создаем нужный запрос для бекенда #}
                    let create_group_json = '{"event": "group.create", "data": {"name": "' +
                        this.group_name_input +
                        '"}}';


                    {# при открытии сокета мы сразу отправляем сообщение на бекенд #}
                    ws.onopen = function () {
                        console.log("На бекенд отправлена задача: " + create_group_json);
                        ws.send(create_group_json);

                    };

                    {# задача обрабатывается на бекенда#}

                    {# пришел ответ от бекенда: #}
                    ws.onmessage = (data) => {
                        {#console.log(JSON.parse(data.data));#}
                        this.data_from_django.push(JSON.parse(data.data));

                        this.logs.unshift(this.data_from_django[0].data.detail);
                        {#console.log(this.data_from_django);#}


                    };

                    this.show_murren_group = true;

                    {#this.logs.unshift('Группа успешно создана!)');#}
                    this.show_create_group = false;


                },

                show_create_group_panel() {

                    this.show_create_group = (this.show_create_group !== false) ? false : true;
                    console.log('Открылась панель на ввод имени группы');

                },


                show_available_group() {
                    const ws = new WebSocket('ws://127.0.0.1:8000/ws/chat/');

                    let show_group_list = '{"event": "group.list", "data": {}}';

                    ws.onopen = function () {
                        ws.send(show_group_list);
                        console.log("На бекенд отправлена задача: " + show_group_list);

                    };

                    ws.onmessage = (data) => {

                        this.data_from_django = (JSON.parse(data.data));
                        this.available_group = [];

                        for (let i of this.data_from_django.data) {

                            this.available_group.push(i);
                        }
                        console.log(this.available_group)

                    };

                },
                remove_chat_member(group_id) {

                    let group_url = 'ws://127.0.0.1:8000/ws/chat/' + group_id + '/';
                    let remove_event_json = '{"event": "remove.chat.member", "data": {}}';
                    let ws = new WebSocket(group_url);

                    ws.onopen = function () {
                        ws.send(remove_event_json);
                        console.log("На бекенд отправлена задача: " + remove_event_json);

                    };
                    ws.onmessage = (data) => {

                        this.data_from_django = (JSON.parse(data.data));

                        this.available_group.splice(this.available_group.findIndex(obj => obj.id === group_id), 1);


                    };

                    ws.onclose = () => {
                        console.log('ws close');
                    }

                }
            },
            computed: {
                show_create_group_menu() {
                    return this.show_create_group
                },
                show_murren_group_menu() {
                    return this.show_murren_group
                },
                get_user_id() {
                    return this.user_id
                },
            }
        });

    </script>

{% endblock js %}

