{% block panel %}
    <div class="btn-group-vertical btn-group-lg d-flex justify-content-center">

        <button onclick="on_connect()" type="button" class="btn btn-info ">Войти в таверну</button>
        <button type="button" class="btn btn-info">Создать комнату</button>

        <div class="btn-group dropright" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle " data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Команды
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <p class="dropdown-item d-flex justify-content-center" >ws://127.0.0.1:8000/ws/chat/</p>
                <p class="dropdown-item d-flex justify-content-center" >{"event": "group.create", "data": {"name": "Murrengan"}}</p>
            </div>
        </div>
    </div>

{% endblock panel %}
