{% block panel %}
    <div class="btn-group-vertical btn-group-lg d-flex justify-content-center">
        <button type="button" class="btn btn-info ">Войти в таверну</button>
        <button type="button" class="btn btn-info">Создать комнату</button>

        <div class="btn-group dropright" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle " data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Команды
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item d-flex justify-content-center" href="#">Dropdown link</a>
                <a class="dropdown-item d-flex justify-content-center" href="#">Dropdown link</a>
            </div>
        </div>
    </div>

{% endblock panel %}
