{% extends 'MurrCard/base_murrs.html' %}

{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/murr_detail.css" %}" />
{% endblock css %}

{% block content %}
    <h2 class="text-center text-uppercase">Детали Мурра</h2>
    <div class="detail my-3 p-3">{% include "MurrCard/includes/_murr_detail_view.html" %}</div>

    {% if murr.get_comments.exists %}
        {% include "MurrCard/includes/_murr_details_comments.html" %}
    {% endif %}

    {% if user.is_authenticated %}
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="form-group my-2">
                    <button type="submit" class="btn btn-secondary">Добавить комментарий</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/jsdelivr.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <script src="{% static "js/bootstrap-dialog.min.js" %}"></script>
{% endblock js %}
