{% extends 'base.html' %}
{% load static %}


{{% block css %}
    {{ block.super }}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">

    <style>
        .card-text {
            background-color: #8cffd2;
            border-radius: 5px;
            padding: 5px;
            color: #1a2a6c;
            text-align: center;
            font-size: 18px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
    .about-font{
        font-family: 'PT Sans', sans-serif;
    }
    </style>
{% endblock %}


{% block content %}

    <div class="container about-font">

        <div class="card-text">
            <h2 class="mb-3">Учим программирование вместе.</h2>
            <p>Если ты хочешь понять, что такое программирование,<br>
                принять участие в настоящем проекте<br>
                или найти друзей - добро пожаловать в Мурренган!<br><br>


                Фронтенд, бекенд и игровой модуль murrengan разрабатывается <br>
                как открытое программное обеспечение.

                </p>

            <p class="text-muted">Версия сайта - 0.8.357</p>
        </div>

    </div>


    <div class="text-center mt-5">
        <p>Официальные каналы:</p>
        <a href="https://vk.com/murrengan"><img alt="" src="{% static "/img/about/vk_about.png" %}"></a>
        <a href="https://www.youtube.com/murrengan"><img alt="" src="{% static "/img/about/youtube_about.png" %}"></a>
        <a href="https://t.me/MurrenganChat"><img alt="" src="{% static "/img/about/telegram_about.png" %}"></a>

    </div>

{% endblock content %}