{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section>
    <div class="container text-center mb-4">
      <h2 class="">Murrengan</h2>
    </div>
  </section>

    <h3 class="text-center">0.8.337v</h3>

  <section>
    <div class="container text-center">
      <div class="p-3">
        <h3 class="mb-3">В команде единомышленников <br> добьешься большего,<br> чем в одиночку!</h3>
        <img alt="" src="{% static "/img/about/about_logo.png" %}" width="150" height="150" class="img-fluid">
      </div>
    </div>
  </section>

  <section>
    <div class="text-center">
      <p>Дополнительные ресурсы:</p>
      <a href="https://vk.com/murrengan"><img alt="" src="{% static "/img/about/vk_about.png" %}" class="img-fluid"></a>
      <a href="https://www.youtube.com/murrengan"><img alt="" src="{% static "/img/about/youtube_about.png" %}"
                                                       class="img-fluid"></a>
      <a href="https://t.me/MurrenganChat"><img alt="" src="{% static "/img/about/telegram_about.png" %}"
                                                class="img-fluid"></a>
    </div>
  </section>

{% endblock content %}