<!DOCTYPE html>{% load static %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />

        {% block css %}
            <link rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
                  crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
            <link rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                  crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
            <link rel="stylesheet" href="{% static "css/bootstrap-dialog.min.css" %}" />
            <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
            <link rel="stylesheet" href="{% static "css/base.css" %}" />
            <link rel="stylesheet" href="{% static "css/navbar.css" %}" />
            <link rel="stylesheet" href="{% static "css/emojionearea.css" %}" />
        {% endblock css %}

        <style>{% block style %}{% endblock %}</style>
        <title>{% block title %}Murrengan{% endblock %}</title>
        {% block extra_header %}{% endblock extra_header %}
    </head>
    <body>
        <header>{% include 'navbar.html' %}</header>

        <div class="container col-6">
            {# Django messages #}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
            {# Django messages #}
        </div>

        {# Show categories #}
        {% if request.path == '/murrs/' or '/murrs/murrs_by_category/' in request.path %}
          <div class="mb-3 text-center">{% include 'categories.html' %}</div>
        {% endif %}
        {# Show categories #}

        <div class="container">
          {% block content %}

          {% endblock %}
        </div>

        {% block js %}
            <script src="https://code.jquery.com/jquery-3.4.0.min.js"
                    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
                    crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous"></script>
            <script src="{% static "js/navbar.js" %}"></script>
            <script src="{% static "js/kernel.js" %}"></script>
            <script src="{% static "js/emojionearea.js" %}"></script>
        {% endblock js %}
    </body>
</html>