{% extends 'page.html' %}
    {% block title %}
        {{ current_rubric.name }} - Доска объявлений 
    {% endblock %}
{% block page %}

<div class="container">
    <div class="row">
        <div class="col"><h1>Объявления</h1></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% for foo in works_lists_by_rubric_id %}
                <div>
                    <h2>{{ foo.title }}</h2>
                    <p>{{ foo.rubric }}</p>
                    <p>{{ foo.description }}</p>
                    <p>{{ foo.published|date:"d.m.y H:i" }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
   

<div>
    {% for rubric in all_rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
    {% endfor %}
</div>


{% endblock %}