<!DOCTYPE html>

{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'base/favicon.ico' %}">
    <title>Murrengan</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light sticky-top bg-light">
    <div class="container">
        <a class="navbar-brand" href="https://www.youtube.com/murrengan">
            <img src="{% static 'base/favicon.ico' %}" width="30" height="30" alt="" class="d-inline-block align-top">
            Murrengan
        </a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#base_navbar">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="base_navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link active text-center">О нас</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-center">Как работает?</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.youtube.com/murrengan" class="nav-link text-center">Я в деле!</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'add' %}" class="nav-link text-center">Добавить</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-3">

<h1>Обьявления</h1>

<div>

    <a href="{% url 'index' %}">Главная</a>

    <br>

    {% for rubric in rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.rubric }}</a>
    {% endfor %}

</div>
<div class="container">
    <div class="row">
        <div class="card-columns">
        {% for work in works %}
                <div class="card">
                    <img src="http://placehold.it/286x180" class="card-img-top"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ work.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <a href="{% url 'by_rubric' work.rubric.pk %}">{{ work.rubric }}</a>
                        </h6>
                        <p class="card-text">{{ work.description }}</p>
                        <p class="card-text"><small class="text-muted">{{ work.published }}</small></p>
                        <a href="{% url 'by_rubric' work.rubric.pk %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            
        {% endfor %}
        </div>
    </div>
</div>

</div>

</body>
</html>