{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
    <link rel="stylesheet" href="{% static "css/out/bootstrap.min.css" %}"/>
    <script src="{% static "js/out/vue.js" %}"></script>
    <script src="{% static "js/out/axios.min.js" %}"></script>
    <title>Murr game monitor</title>
    <style>
        body {
            background-color: transparent;
        {#max-height: 400px;#}
        }

        img {
            max-height: 400px;
        }

        .log_panel {

            background-color: rebeccapurple;
            border-radius: 5px;
            padding: 15px;
            overflow: auto;
            max-height: 175px;

        }

        .log_panel_message {
            background-color: floralwhite;
            border-radius: 5px;
            margin-bottom: 5px;
            padding-left: 5px;

        }

        .active_panel {
            border: 1px solid #dee2e6;
        }

    </style>
</head>
<body>


<div id="monitor">
    <div class="monitor">

    </div>

    <div class="row p-0 mb-2" style="position: relative">

        <div class="col-8 pr-0 m-0">
            <div class="container m-0 pr-3 pl-1">
                <img src="{% static "/img/murr_game/Tawern.png" %}" class="img-fluid card" alt="...">
            </div>
        </div>

        <div class="col-4 pl-0">
            <div class="log_panel">
                <p class=" log_panel_message"
                   v-for="log in logs">
                    [[ log ]]
                </p>
            </div>

            <div class="d-flex justify-content-center">
                <div class="btn-group btn-group-lg mb-4" style="bottom: 0; position: absolute;" role="group">
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-toggle="tooltip"
                            v-on:click="show_create_group_panel"
                            title="Создать группу">
                        <i class="fas fa-user-plus"></i><i class="fas fa-users"></i><i class="fas fa-comments"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="active_panel">
{#        <div class="container w-auto">#}
            <div class="row">


                <div class="col-6">

                    <div v-if="show_create_group_menu">
                        <div class="">
{#                            <div class="col-9">#}




                                <label for="group_name_input" class="mr-2">Название группы:</label>
                                <input v-model="group_name_input"
                                       maxlength="20"
                                       id="group_name_input"
                                       placeholder="Введи название группы"
                                       class="form-control"
                                >
                                <button v-on:click="create_group_by_name"
                                        class="btn btn-primary">Создать группу
                                </button>
{#                            </div>#}

{#                            <div class="col-3 m-0 p-0">#}
{#                                #}
{#                            </div>#}
                        </div>


                    </div>


                    <div v-else>Что сделаем, хозяин?</div>

                </div>

                <div class="col-6">
                    <div v-if="success_group_created">
                        <p>Группа <span class="h3">[[ group_name_input ]]</span> ждет тебя!</p>
                    </div>
                    <div v-else>tsetasdf</div>
                </div>

            </div>
{#        </div>#}

    </div>
</div>

<script>
    new Vue({
        el: '#monitor',
        delimiters: ['[[', ']]'],

        data: {

            logs: ['Действие: включен логер', 'Действие: Ты вошел в murr',],
            show_create_group: false,


            group_name_input: '',

            success_group_created: false

        },
        methods: {

            create_group_by_name() {
                {# инициализируем сокет по юрл #}
                let hard_url = 'wss://www.murrengan.ru/ws/chat/';
                const ws = new WebSocket(hard_url);

                {# создаем нужный запрос для бекенда #}
                let create_group_json = '{"event": "group.create", "data": {"name": "' +
                    this.group_name_input +
                    '"}}';

                {# при открытии сокета мы сразу отправляем сообщение на бекенд #}
                ws.onopen = function () {
                    console.log("На бекенд отправлена щадача: " + create_group_json);
                    ws.send(create_group_json);
                };

                {# задача обрабатывается на бекенда#}

                {# пришел ответ от бекенда: #}

                ws.onmessage = function (data) {
                    console.log('Вот что пришло с бекенда:' + data);
                    data = JSON.parse(event.data);

                    console.log("Остортированные данные" + event.data);
                    console.log("event: " + data.event);

                };

                this.success_group_created = true;
                console.log("РЕЗУЛЬТАТ: " + this.success_group_created);
                this.logs.shift();
                this.logs.push('Группа успешно создана!)');

            },

            show_create_group_panel() {
                {#this. = true#}
                this.show_create_group = (this.show_create_group !== false) ? false : true;
                console.log(this.show_create_group);
                console.log('Сменил show_create_group на булеан');
                console.log('Открылась панель на ввод имени группы');

            },
        },
        computed:
            {
                show_create_group_menu() {
                    return this.show_create_group
                }
                ,
                groupMemberCount: function () {
                    return this.groupMembers.length || '';
                }
            }
        ,

        {#created: function () {#}
        {#    this.ws.onopen = function () {#}
        {#        console.log('WS подключенно')#}
        {#    };#}
        {#    this.ws.onclose = function (eventclose) {#}
        {#        console.log('соеденение закрыто причина: ' + this.eventclose)#}
        {#    };#}
        {#    this.ws.onmessage = function (msg) {#}
        {#        console.log('Сообщение ' + this.msg)#}
        {#    }#}


    })
    ;

</script>

<script src="{% static "js/out/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "js/out/popper.min.js" %}"></script>
<script src="{% static "js/out/bootstrap.min.js" %}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>