{% extends 'MurrCard/base_murrs.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/murr_detail.css" %}" />
    <link rel="stylesheet" href="{% static "css/emojionearea.min.css" %}" />

{% endblock css %}


{% block title %}{{ murr.title }}{% endblock %}

{% block content %}
    {% include 'MurrCard/includes/_murr_detail_content.html' %}
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/emojionearea.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <script src="{% static "js/bootstrap-dialog.min.js" %}"></script>
    <script src="{% static "js/murr_page.js" %}"></script>
    <script>$('.murr-detail').murrPage();</script>
{% endblock js %}
