{% extends 'MurrCard/base_murrs.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/murr_detail.css" %}" />
{% endblock css %}

{% block content %}
    <div class="murr-detail" data-murr_slug="{{ murr.slug }}" data-csrf="{{ csrf }}">
        {% include 'MurrCard/includes/_murr_detail_content.html' %}
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
{#    <script src="{% static "js/jsdelivr.js" %}"></script>#}
    <script src="{% static "js/custom.js" %}"></script>
    <script src="{% static "js/bootstrap-dialog.min.js" %}"></script>
    <script src="{% static "js/murr_detail.js" %}"></script>
    <script>$('.murr-detail').murrDetail();</script>
{% endblock js %}
