{% extends 'MurrCard/base_murrs.html' %}

{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/murr_list.css" %}" />
{% endblock css %}




{% block content %}


    <div class="container py-1">
        <div class="murr-list card-columns animate-opacity p-1" data-csrf="{{ csrf }}" data-murren="{{ request.user.pk|default_if_none:'' }}">
            {% for murr in page %}
                {% include 'MurrCard/includes/_murr_list_card.html' %}
            {% endfor %}
        </div>
    </div>
    {% include 'MurrCard/includes/_murr_list_pagination.html' %}
{% endblock content %}


{% block js %}
    {{ block.super }}
    <script src="{% static "js/murr_list.js" %}"></script>
    <script>$('.murr-list').murrList();</script>
{% endblock js %}